* {
  margin: 0;
}

.error {
  width: 300px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-color: aqua;
}
.error--serious {
  @extend .error;
  border: 2px solid red;
}

//OU

.error {
  width: 300px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-color: aqua;
  &--serious {
    @extend .error;
    border: 2px solid red;
  }
}
