$bg-color: rgb(255, 255, 255) !default;
$primari-color: red !default;
$primari-text-color: #fff !default;
$hiperlink: red !default;
$footer: orange !default;
$color-header: #ff760c;
$color-header-transparent: rgba($color-header, 0.5);
$color-title: white;
$color-section: rgb(0, 82, 182);
